@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

:root,
.theme-dark {
  --color-surface-50: #f8fafc;
  --color-surface-100: #f1f5f9;
  --color-surface-200: #e2e8f0;
  --color-surface-300: #cbd5e1;
  --color-surface-400: #94a3b8;
  --color-surface-500: #64748b;
  --color-surface-600: #475569;
  --color-surface-700: #334155;
  --color-surface-800: #1e293b;
  --color-surface-900: #0f172a;
  --color-app-bg: var(--color-surface-900);
  --color-app-fg: var(--color-surface-100);
}

.theme-light {
  --color-surface-50: #0f172a;
  --color-surface-100: #1e293b;
  --color-surface-200: #334155;
  --color-surface-300: #475569;
  --color-surface-400: #64748b;
  --color-surface-500: #94a3b8;
  --color-surface-600: #cbd5e1;
  --color-surface-700: #e2e8f0;
  --color-surface-800: #f1f5f9;
  --color-surface-900: #ffffff;
  --color-app-bg: #ffffff;
  --color-app-fg: #0f172a;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-app-bg);
  color: var(--color-app-fg);
}
